src/strategies/*
!src/strategies/ContinuationTrade.py


src/backtests/*
!src/backtests/backtest_continuation_trade.py
!src/backtests/backtest_reports
src/backtests/backtest_reports/*
!src/backtests/backtest_reports/Continuation_Trade

src/PortfolioManager
src/backtests/backtest_strategy

database/
!database/datasets